.element {
  padding-left: 8px;
  padding-right: 8px;
}

.element__block {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  padding-bottom: 1rem;
}

.element__block > div > a,
.element__block > div > h6 {
  color: #747373;
  font-weight: 400;
  margin-bottom: 0px;
}

.element__icon {
  margin-right: 16px;
  margin-left: 0;
}

.element__icon > i {
  font-size: 1.5rem;
}
