* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

main {
  flex: 1 0 auto;
  height: 100%;
  width: 100%;
}

.wrapper {
  background-color: #f3f7fa;
  min-height: 76.5vh;
}

::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  height: 50px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.organization_page_wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 2rem;
}

.services_wrapper {
  -webkit-box-pack: start;
  -webkit-box-align: stretch;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: calc(100% + 16px);
}

/* -------------------- */

.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  min-width: 25vw;
  z-index: 100;
  background: #fff;
  margin: 5vw;
  padding: 2rem 3rem;
  box-shadow: 0 5px 11px 0 rgb(128 128 128 / 18%),
    0 4px 15px 0 rgb(128 128 128 / 15%);
}
.box__logo {
  display: flex;
  justify-content: center;
}

.box__w-text {
  margin-top: 1rem;
  text-align: center;
  font-weight: 600;
}

.box__form .form-control {
  margin-bottom: 1rem;
}
.box__footer {
  margin-top: 1.5rem;
  text-align: center;
}

.error-input-msg {
  color: red;
  top: -1.5rem;
}
